body {
  margin: 0;
  background-image: url(./Assets/Images/Poker.jpg);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New' monospace;
}

.p-0{
  position: relative;
  min-height: 100vh;
}

.carousel{
  padding-bottom: 5em;
}

.a-text{
  text-align: center;
  color: white;
}
  
button {
  margin: 0 10px 0 10px;
}
  
form {
  display: flex;
  justify-content: center;
}
  
p {
  text-align: center;
}

.login {
  margin-top: 8em;
  padding-bottom: 7em;
}

.sign-up {
  margin-top: 8em;
  padding-bottom: 7em;
}

.rules{
  padding-bottom: 7em;
}